.root{
    -fx-background-image: url("../imgRrc/background.png");
    -fx-background-size: 1024px, 640px;
}

#startButton, #startButton:hover{
    -fx-font:bold 20pt "Arial";
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-size: 290px,300px;
    -fx-background-repeat: no-repeat;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.7), 10,0,0,0);
    -fx-background-image: url("../imgRrc/button.png");
}

#startButton:hover{
    -fx-background-image: url("../imgRrc/buttonHover.png");

}

#startButton:pressed{
    -fx-background-image: url("../imgRrc/button.png");
    -fx-effect: none;
}

/* mini Buttons*/

.button, .button:pressed{
    -fx-font:bold 10pt "Arial";
    -fx-text-fill: white;
    -fx-background-color: #537a7b;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.7), 10,0,0,0);
}

.button:hover{
    -fx-background-color: #8cc5c6;
}

.button:pressed{
    -fx-effect: none;
}

#incrementLabel{
    -fx-background-color: rgba(255, 255, 255, 0.56);
    -fx-alignment: Center;
}

.label{
    -fx-alignment: center;
    -fx-background-color: rgba(15, 30, 31, 0.53);
}

#customPane{
    -fx-background-color: rgba(83, 122, 123, 0.83);
}

#difficultyComboBox{
    -fx-font:bold 8pt "Arial";
}

.combo-box, .list-view, .list-cell{
    -fx-text-fill: white;
    -fx-background-color: #537a7b;
}

.list-view{
    -fx-background-color: #7aabac;
}

.list-cell:filled:hover, .list-cell:filled:selected{
    -fx-background-color: #395354;
}