.root{
    -fx-background-image: url("../imgRrc/questionbackground.png");
    -fx-background-size: 1024px, 640px;
}



.button:hover{
    -fx-background-color: #8cc5c6;
}

.button, .button:pressed{
    -fx-font:bold 10pt "Arial";
    -fx-text-fill: white;
    -fx-background-color: #537a7b;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.7), 10,0,0,0);
}

.button:pressed{
    -fx-effect: none;
}