.root{
    -fx-background-image: url("../imgRrc/menubackground.png");
    -fx-background-size: 1030px, 650px;
}

/*button animation*/
#quizzesButton, #quizzesButton:hover, #exitButton, #exitButton:hover{
    -fx-font:bold 20pt "Arial";
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-size: 290px,300px;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../imgRrc/button.png");
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.7), 10,0,0,0);
}

#quizzesButton:hover, #exitButton:hover{
    -fx-background-image: url("../imgRrc/buttonHover.png");
}

#quizzesButton:pressed, #exitButton:pressed{
    -fx-background-image: url("../imgRrc/button.png");
    -fx-effect: none;
}

